[submodule "empower-controller"]
	path = empower-controller
	url = git@github.com:rriggio/empower-controller.git
[submodule "empower-packages"]
	path = empower-packages
	url = git@github.com:rriggio/empower-packages.git
