[submodule "empower-controller"]
	path = empower-controller
	url = git@github.com:rriggio/empower-controller.git
[submodule "empower-agent"]
	path = empower-agent
	url = git@github.com:rriggio/empower-agent.git
[submodule "empower-openwrt"]
	path = empower-openwrt
	url = git@github.com:rriggio/empower-openwrt.git
[submodule "empower-packages"]
	path = empower-packages
	url = git@github.com:rriggio/empower-packages.git
